<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <title layout:title-pattern="${CONTENT_TITLE} - ${LAYOUT}"> RunGROUP</title>
    <title>Title</title>
</head>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" th:href="@{/}"><img th:src="@{assets/favicon.ico}" width="60" height="60"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/clubs}">Find Clubs</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/events}">Find Events</a></li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{clubs/new}">Create
                    Running Club</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link"
                                                                           th:href="@{/login}">Login</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item"><a class="nav-link"
                                                                          th:href="@{/logout}">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<body layout:fragment="body">

</body>

<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Ejercicio academico Universidad Nacional</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Luis Masis Bogantes</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href=mailto:"felipe@sekutec.com">Contact</a>
            </div>
        </div>
    </div>
</footer>

</html>